*.py[cod]
desktop.ini

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
# lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Other group members' stuff
Coffee\ cooling
Coffee\ filter
Improved\ ODE\ integration
MolecularDynamics/Jaylene
ObjectOrientedOrbits/Jaylene
Planetary\ Model/pat_img
Simple\ ODEs\ and\ conservation
