*.py[cod]
desktop.ini

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
# lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Other group members' stuff
Coffee\ cooling
Coffee\ filter
Improved\ ODE\ integration
MolecularDynamics/Jaylene
ObjectOrientedOrbits/Jaylene
Planetary\ Model/pat_img
Simple\ ODEs\ and\ conservation

# Videos and such
*.avi
*.mpg
*.png

.dropbox
MolecularDynamics/Friction/plots
MolecularDynamics/Patrick/
MolecularDynamics/Pat/pat_mol_dyn_symmetry_pe.svg
ObjectOrientedOrbits/Patrick_twobody_object.py
Planetary Model/Patrick_twobody_object.py
Planetary Model/Patrick_twoplanet.py
Planetary Model/Two_Body_Naylor.py
MolecularDynamics/GranularMaterials/plots
MolecularDynamics/Friction/report
MolecularDynamics/GranularMaterials/report/
.Rproj.user
